@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.488 0.243 264.376);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.546 0.245 262.881);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --header: oklch(1 0 0);
  --header-foreground: oklch(0.145 0 0);
  --footer: oklch(1 0 0);
  --footer-foreground: oklch(0.145 0 0);
  --code: oklch(1 0 0);
  --code-foreground: oklch(0.708 0 0);
  --code-highlight: oklch(0.27 0 0);
  --code-number: oklch(0.72 0 0);
  --code-selection: oklch(0.922 0 0);
  --code-border: oklch(0.922 0 0);
  --radius: 0.5rem;
  --danger: oklch(0.577 0.245 27.325);
  --danger-foreground: oklch(0.971 0.013 17.38);
  --warning: oklch(0.852 0.199 91.936);
  --warning-foreground: oklch(0.421 0.095 57.708);
  --success: oklch(0.648 0.2 131.684);
  --success-foreground: oklch(0.986 0.031 120.757);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.488 0.243 264.376);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);
  --header: oklch(0.145 0 0);
  --header-foreground: oklch(0.985 0 0);
  --footer: oklch(0.145 0 0);
  --footer-foreground: oklch(0.985 0 0);
  --code: oklch(0.2 0 0);
  --code-foreground: oklch(0.708 0 0);
  --code-highlight: oklch(0.27 0 0);
  --code-number: oklch(0.72 0 0);
  --code-selection: oklch(0.922 0 0);
  --code-border: oklch(1 0 0 / 10%);
  --radius: 0.5rem;
  --danger: oklch(0.637 0.237 25.331);
  --danger-foreground: oklch(0.02 0.1896 25.331);
  --warning: oklch(0.795 0.184 86.047);
  --warning-foreground: oklch(0.02 0.1472 86.047);
  --success: oklch(0.648 0.2 131.684);
  --success-foreground: oklch(0.02 0.16000000000000003 131.684);
}



/* @custom-variant dark (&:is(.dark *));
:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.488 0.243 264.376);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.546 0.245 262.881);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --header: oklch(1 0 0);
  --header-foreground: oklch(0.145 0 0);
  --footer: oklch(1 0 0);
  --footer-foreground: oklch(0.145 0 0);
  --code: oklch(1 0 0);
  --code-foreground: oklch(0.708 0 0);
  --code-highlight: oklch(0.27 0 0);
  --code-number: oklch(0.72 0 0);
  --code-selection: oklch(0.922 0 0);
  --code-border: oklch(0.922 0 0);
  --radius: 0.5rem;
  --danger: oklch(0.577 0.245 27.325);
  --danger-foreground: oklch(0.971 0.013 17.38);
  --warning: oklch(0.852 0.199 91.936);
  --warning-foreground: oklch(0.421 0.095 57.708);
  --success: oklch(0.648 0.2 131.684);
  --success-foreground: oklch(0.986 0.031 120.757);

}

.dark {
  --background: oklch(0.18 0.012150000000000001 264.376);
  --foreground: oklch(0.85 0.01944 264.376);
  --card: oklch(0.22999999999999998 0.01944 264.376);
  --card-foreground: oklch(0.85 0.01944 264.376);
  --popover: oklch(0.22999999999999998 0.01944 264.376);
  --popover-foreground: oklch(0.85 0.01944 264.376);
  --primary: oklch(0.488 0.243 264.376);
  --primary-foreground: oklch(0.98 0.07289999999999999 264.376);
  --secondary: oklch(0.28 0.036449999999999996 264.376);
  --secondary-foreground: oklch(0.85 0.01944 264.376);
  --muted: oklch(0.28 0.036449999999999996 264.376);
  --muted-foreground: oklch(0.85 0.036449999999999996 264.376);
  --accent: oklch(0.28 0.036449999999999996 252.37599999999998);
  --accent-foreground: oklch(0.85 0.01944 264.376);
  --destructive: oklch(0.637 0.237 25.331);
  --destructive-foreground: oklch(0.85 0.01944 264.376);
  --border: oklch(0.26 0.008 264.376);
  --input: oklch(0.26 0.008 264.376);
  --ring: oklch(0.538 0.09720000000000001 264.376);
  --chart-1: oklch(0.648 0.26730000000000004 234.37599999999998);
  --chart-2: oklch(0.528 0.243 249.37599999999998);
  --chart-3: oklch(0.428 0.27945 264.376);
  --chart-4: oklch(0.588 0.23084999999999997 279.376);
  --chart-5: oklch(0.348 0.2187 294.376);
  --sidebar: oklch(0.22999999999999998 0.01944 264.376);
  --sidebar-foreground: oklch(0.85 0.01944 264.376);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.9 0.01944 264.376);
  --sidebar-accent: oklch(0.28 0.036449999999999996 252.37599999999998);
  --sidebar-accent-foreground: oklch(0.85 0.01944 264.376);
  --sidebar-border: oklch(0.26 0.008 264.376);
  --sidebar-ring: oklch(0.538 0.09720000000000001 264.376);
  --header: oklch(0.18 0.012150000000000001 264.376);
  --header-foreground: oklch(0.85 0.01944 264.376);
  --footer: oklch(0.18 0.012150000000000001 264.376);
  --footer-foreground: oklch(0.85 0.01944 264.376);
  --code: oklch(0.22999999999999998 0.01944 264.376);
  --code-foreground: oklch(0.85 0.01944 264.376);
  --code-highlight: oklch(0.288 0.012150000000000001 264.376);
  --code-number: oklch(0.388 0.036449999999999996 264.376);
  --code-selection: oklch(0.18 0.012150000000000001 264.376);
  --code-border: oklch(0.26 0.008 264.376);
  --radius: 0.5rem;
  --danger: oklch(0.637 0.237 25.331);
  --danger-foreground: oklch(0.02 0.1896 25.331);
  --warning: oklch(0.795 0.184 86.047);
  --warning-foreground: oklch(0.02 0.1472 86.047);
  --success: oklch(0.648 0.2 131.684);
  --success-foreground: oklch(0.02 0.16000000000000003 131.684);
} */

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
  @apply appearance-none;
}

/* Remove spinner in Firefox */
input[type="number"] {
  @apply appearance-none;
  -moz-appearance: textfield;
}
}

/* Skeleton animations */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes wave {
  0%, 100% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
}
